.btnCadUser, .btnCadProd {
    position: absolute;
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: 78%;
}

.btnCancelar, .btnVoltar {
    position: absolute;
    width: 100%;
    margin-left: 1235%;
    margin-top: -7%;
}

.btnSalvar, .btnVisualizarEditar {
    position: absolute;
    width: 100%;
    margin-left: 1128%;
    margin-top: -7%;
}

.labelInputEditUser {
    margin-left: -56%;
    margin-bottom: -1%;
    font-size: 12pt;
}

.formEditUser, .formEditProd {
    margin-bottom: -1.5%;
}

.linkCancel, .linkVoltar {
    color: #fff;
}

.linkCancel:hover, .linkVoltar:hover {
    color: #fff;
}

.btnAcoes{
    margin-left: 7%;
}

.modal-header {
  background-color: #1988c9;
  color: white;
}

.modalLabel {
    margin-left: -70%;
    margin-bottom: -2%;
    font-size: 12pt;
}

.modalBack {
    margin-bottom: -10%;
}

.modal-dialog {
    margin: 200px auto;
}

.modal-body {
    padding: 0;
}