.modal-dialog {
    margin: 150px auto;
}

.formEditUser, .formEditProd {
    margin-bottom: -1.5%;
}

.linkCancel, .linkVoltar {
    color: #fff;
}

.linkCancel:hover, .linkVoltar:hover {
    color: #fff;
}

.btnAcoes{
    margin-left: 7%;
}

.modal-header {
  background-color: #1988c9;
  color: white;
}

.modalLabel {
    margin-left: -70%;
    margin-bottom: -2%;
    font-size: 12pt;
}

.modalBack {
    margin-bottom: -10%;
}

.modal-body {
    padding: 0;
}

.card-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin-bottom: 0;
    box-shadow: none;
}

.card-block {
    background-color: #fff;
}

.btnActions {
    display: flex;
    justify-content: flex-end;
}

.titleCard {
    display: flex;
    justify-content: flex-start;
}

.modalProd {
    max-width: 990px;
}

.modalUser, .modalFornec {
    max-width: 1070px;
}

.modal-footer-prod, .modal-footer-formpag {
    margin-bottom: 15px;
    margin-top: -25px;
}